doctype xml
rss(version="2.0" xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title= title
    link= url
    description= description
    atom:link(href="#{ url }/blog/feed.xml", rel="self", type="application/rss+xml")
    for post, slug in public.blog._data
      if (post.title && post.published !== false)
        item
          title= post.title
          pubDate= new Date(post.date).toUTCString()
          author #{ post.author }
          link #{ url }/blog/#{ post }
          guid(isPermaLink="true") #{ url }/blog/#{ post }
          description <![CDATA[!{ partial(slug) }]]>
